<a href="https://colab.research.google.com/github/Jose-Antonio98-maker/skills-introduction-to-github/blob/main/Proyecto1%20con%20squlite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import sqlite3

#crear o conectar con la base de datos
conexion = sqlite3.connect("banco.db")

#crear un cursor para ejecutar comandos SQL
cursor = conexion.cursor()

conexion.commit()

cursor.execute("PRAGMA journal_mode=WAL;")
conexion.commit()

#Definimos una tabla de clientes con id, nombres y saldo
cursor.execute("""
CREATE TABLE IF NOT EXISTS clientes (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  nombre TEXT NOT NULL UNIQUE,
  saldo REAL NOT NULL
)
""")

#Añadir registros de clientes
cursor.execute("INSERT INTO clientes (nombre, saldo) VALUES (?, ?)", ("Juan Pérez", 1500.75))
cursor.execute("INSERT INTO clientes (nombre, saldo) VALUES (?, ?)", ("Ana Rodríguez", 3200.50))


#Consultar registros de clientes
cursor.execute("SELECT * FROM clientes")
clientes = cursor.fetchall()
for cliente in clientes:
  print(cliente)

conexion.close() #cerrar la conexión con la base de datos

(1, 'Juan Pérez', 1500.75)
(2, 'Ana Rodríguez', 3200.5)

In [7]:
cursor.execute("PRAGMA journal_mode=WAL;")
conexion.commit()

OperationalError: cannot change into wal mode from within a transaction